@charset "UTF-8";

@font-face {
  font-family: Europe;
  font-display: swap;
  src: url("../fonts/Europe-Bold.woff2") format("woff2"), url("../fonts/Europe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Europe;
  font-display: swap;
  src: url("../fonts/Europe-Regular.woff2") format("woff2"), url("../fonts/Europe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Europe";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Europe";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 69.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.form__error {
  color: red;
  margin-top: 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  padding: 14px 32px;
  background-color: #bf0830;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.btn span {
  color: white;
}

.btn-outline {
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 150%;
  padding: 14px 32px;
  border: 1px solid #bf0830;
  color: #bf0830;
  transition: all 0.3s;
}

.btn-outline:hover {
  color: white;
  background-color: #bf0830;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2954545455;
  color: #1a2578;
}

.main-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  color: #484C63;
  margin-top: 16px;
}

html.menu-open .menu__body {
  left: 0;
}

html.menu-open .header__img {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

html.menu-open .header__img-main {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 24px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__img {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-left: 60px;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #646A89;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  background: #0d123c;
  color: white;
  padding-top: 55px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__item:last-child {
  margin-bottom: 64px;
}

.footer__item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 455px;
  margin-left: auto;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: white;
  margin-top: 25px;
  max-width: 290px;
}

.footer__copyright {
  padding: 30px 0;
  border-top: 1px solid rgba(197, 203, 226, 0.5);
}

.footer__copy-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__copy-item a {
  text-decoration: underline;
}

.list-item__title {
  font-size: 18px;
  line-height: 21px;
}

.list-item__list {
  margin-top: 30px;
}

.list-item__item-wrap {
  margin-top: 21px;
}

.list-item__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.list-item__link:hover {
  color: #cf0934;
}

.list-item__social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.list-item__social-link path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.list-item__social-link:hover path {
  fill: #cf0934;
}

.hero__wrapper {
  background: -o-linear-gradient(197.09deg, #b9c6f3 3.68%, rgba(227, 231, 246, 0) 97.82%);
  background: linear-gradient(252.91deg, #b9c6f3 3.68%, rgba(227, 231, 246, 0) 97.82%);
}

.hero {
  position: relative;
  padding: 129px 0 210px 0;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.hero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.hero__title {
  position: relative;
  z-index: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #1a2578;
  margin-bottom: 32px;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
}

.hero__title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.hero__text {
  position: relative;
  z-index: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #484c63;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
}

.hero__text._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.hero__buttons {
  margin-top: 40px;
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
}

.hero__buttons._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.hero__btn-2 {
  margin-left: 16px;
}

.hero.hero_products {
  padding: 200px 0 150px 0;
}

.hero.hero_products .hero__img {
  padding-right: 120px;
}

.hero.hero_about {
  padding: 189px 0 212px 0;
}

.hero.hero_about .hero__img {
  padding-right: 120px;
}

.hero.hero_about .hero__item {
  max-width: 400px;
}

.hero.hero_career {
  padding: 180px 0 250px 0;
}

.hero.hero_career .hero__title span {
  color: #bf0830;
}

.hero.hero_career .hero__btn-2 {
  margin-left: 0;
}

.hero.hero_contact {
  padding: 100px 0 150px 0;
}

.hero.hero_contact .hero__img {
  padding-right: 120px;
}

.hero.hero_contact .hero__btn-2 {
  margin-left: 0;
}

.page-about .brands {
  border-bottom: none;
}

.brands {
  padding: 101px 0 128px 0;
  border: 1px solid rgba(197, 203, 226, 0.5);
}

.brands__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5833333333;
  color: #1a2578;
  text-align: center;
}

.brands__title span {
  color: #BF0830;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.brands__item {
  margin-top: 20px;
}

.products {
  padding: 106px 0;
}

.products__title {
  text-align: center;
}

.products__subtitle {
  text-align: center;
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.products__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.27), 0px 25px 35px rgba(22, 23, 72, 0.28);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.27), 0px 25px 35px rgba(22, 23, 72, 0.28);
  border-radius: 8px;
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.products__item._watcher-view {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.item-products__content {
  padding: 62px 62px 0px 62px;
}

.item-products__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2916666667;
  margin-top: 40px;
}

.item-products__btn {
  margin-top: 33px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 24px;
  border: 1px solid #bf0830;
  border-radius: 6px;
  gap: 8px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.item-products__btn:hover {
  background-color: #bf0830;
}

.item-products__btn:hover span {
  color: white;
}

.item-products__btn:hover path {
  stroke: white;
}

.item-products__btn span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #bf0830;
}

.item-products__img {
  margin-top: auto;
  padding: 0 10px;
}

.item-products__img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.info-1 {
  padding: 73px 0;
  background: -o-linear-gradient(181.48deg, #b9c6f3 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: linear-gradient(268.52deg, #b9c6f3 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.info-1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-1__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-1__text {
  max-width: 450px;
}

.slider-innov {
  padding: 120px 0px 30px 0px;
  text-align: center;
}

.slider-innov__slider {
  margin-top: 70px;
}

.slider-innov__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-innov__arrows .swiper-button-disabled svg {
  opacity: 0.5;
}

.slider-innov__arrow-next {
  margin-top: -6px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 8px;
}

.slider-main {
  position: relative;
}

.slider-main::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 190px;
  background-color: white;
  right: -10px;
  top: 8%;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.slider-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.slider-main__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
  border-radius: 8px;
  padding: 20px 0 20px 0;
  height: 138px;
}

.slider-main__slide:nth-child(3),
.slider-main__slide:nth-child(4),
.slider-main__slide:nth-child(5) {
  padding: 40px 0px 40px 0px;
}

.info-2 {
  padding: 73px 0;
  background: -o-linear-gradient(181.48deg, #b9c6f3 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: linear-gradient(268.52deg, #b9c6f3 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.info-2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-2__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-2__text {
  max-width: 450px;
  margin-bottom: 30px;
}

.info-3 {
  padding: 73px 0;
}

.info-3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-3__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-3__text {
  max-width: 450px;
  margin-bottom: 30px;
}

.info-4 {
  padding: 73px 0;
}

.info-4__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 118px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-4__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-4__text {
  max-width: 450px;
  margin-bottom: 30px;
}

.question {
  padding: 136px 0;
  background: -o-linear-gradient(107.88deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
  background: linear-gradient(342.12deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
  text-align: center;
}

.question__container {
  max-width: 700px;
  margin: 0 auto;
}

.question__title {
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
}

.question__title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.question__subtitle {
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
}

.question__subtitle._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.question__btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 20px;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
}

.question__btns._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.question.question-career .question__container {
  max-width: 800px;
}

.stats {
  padding: 20px 0px 83px 0px;
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.2), 0px 25px 35px rgba(22, 23, 72, 0.2);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.2), 0px 25px 35px rgba(22, 23, 72, 0.2);
  border-radius: 8px;
  padding-top: 53px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.stats__item._watcher-view {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.item-stats__title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
  color: #1a2578;
  text-align: center;
  margin-bottom: 18px;
}

.item-stats__text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #484c63;
  margin-bottom: 18px;
}

.item-stats__img {
  margin-top: auto;
}

.item-stats__img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.culture {
  padding: 65px 0px 146px 0px;
  background: -o-linear-gradient(181.48deg, #c2cef8 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: linear-gradient(268.52deg, #c2cef8 -52.27%, rgba(227, 231, 246, 0) 138.23%);
}

.culture__title {
  text-align: center;
}

.culture__subtitle {
  text-align: center;
}

.culture__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
}

.culture__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
}

.table {
  margin-top: 97px;
  padding-bottom: 32px;
}

.table__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 345px;
          flex: 0 1 345px;
  background: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
  border-radius: 8px;
}

.table__title {
  font-size: 28px;
  line-height: 31px;
  color: #3a3a3c;
  margin-bottom: 32px;
}

.table__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484c63;
}

.info-5 {
  margin-top: 97px;
}

.info-5__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 118px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-5__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-5__item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.info-5__text {
  max-width: 450px;
  margin-bottom: 30px;
}

.info-6 {
  padding: 145px 0px 125px 0px;
}

.info-6__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 118px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-6__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-6__text {
  max-width: 450px;
}

.info-7 {
  background: -o-linear-gradient(181.48deg, #c2cef8 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  background: linear-gradient(268.52deg, #c2cef8 -52.27%, rgba(227, 231, 246, 0) 138.23%);
  padding: 73px 0;
}

.info-7__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 118px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info-7__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-7__text {
  max-width: 450px;
}

.info-7__btn {
  display: inline-block;
  margin-top: 40px;
  position: relative;
}

.info-7__btn:hover .path {
  fill: #bf0830;
}

.info-7__btn svg {
  position: absolute;
  right: -70%;
  bottom: -130%;
  pointer-events: none;
}

.info-7__btn svg .path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.offer {
  padding: 65px 0px 146px 0px;
}

.offer__title {
  text-align: center;
}

.offer__subtitle {
  text-align: center;
}

.offer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
}

.offer__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
}

.table {
  margin-top: 97px;
  padding-bottom: 32px;
}

.table__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 345px;
          flex: 0 1 345px;
  background: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
  border-radius: 8px;
}

.table__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  line-height: 31px;
  color: #3a3a3c;
  margin-bottom: 32px;
}

.table__svg {
  margin-right: 10px;
}

.table__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484c63;
}

.photos {
  background: -o-linear-gradient(179.24deg, #b9c6f3 -55.5%, rgba(227, 231, 246, 0) 145.36%);
  background: linear-gradient(270.76deg, #b9c6f3 -55.5%, rgba(227, 231, 246, 0) 145.36%);
}

.photos__container {
  padding: 58px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
}

.photos__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.photos__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photos__item:nth-child(5) {
  position: relative;
  top: -55px;
}

.photos__item:last-child img{
  margin-top: auto;
}

.photos__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photos__names {
  max-width: 322px;
}

.photos__title {
  color: #1a2578;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  max-width: 150px;
}

.photos__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #484C63;
}

.recommend {
  padding: 56px 0 60px 0;
}

.recommend__container {
  background: #ebedfc;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
  border-radius: 8px;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommend__title {
  color: #1a2578;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3333333333;
  margin-left: 27px;
}

.recommend__subtitle img {
  max-width: 150px;
}

.recommend__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #424B5A;
  text-decoration: underline !important;
}

.recommend__link svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 7px;
}

.item-recommend-first {
  padding-left: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.item-recommend-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 122px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.rating__value {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7222222222;
  color: #000000;
  margin-right: 7px;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.jobs {
  padding: 60px 0;
}

.jobs__title {
  text-align: center;
}

.jobs__subtitle {
  text-align: center;
}

.jobs__blocks {
  margin-top: 100px;
}

.jobs__item {
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 17px 35px rgba(22, 23, 72, 0.1);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 17px 35px rgba(22, 23, 72, 0.1);
  border-radius: 8px;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.jobs__item._watcher-view {
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
          transform: rotate3d(1, 0, 0, 0deg);
}

.item-jobs {
  padding: 35px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-jobs__btn {
  min-width: 160px;
}

.info-item-jobs__title {
  max-width: 500px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.9642857143;
  color: #484c63;
  margin-bottom: 24px;
}

.info-item-jobs__subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -14.5px;
}

.info-item-jobs__additionally {
  padding: 0 14.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.info-item-jobs__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  color: #8f90a6;
}

.empty {
  margin: 68px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts {
  padding: 114px 0px 138px 0px;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 122px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contacts__places {
  max-width: 240px;
  margin-top: auto;
}

.contacts__country {
  margin-top: 72px;
}

.contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.005em;
  margin-bottom: 25px;
  color: #000000;
}

.contacts__title img {
  margin-right: 20px;
}

.contacts__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #000000;
}

.form-item {
  -webkit-box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
          box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.1), 0px 25px 35px rgba(22, 23, 72, 0.1);
  border-radius: 8px;
}

.form-item__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px;
}

.form-item__label-input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8f90a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.form-item__input {
  background: #ffffff;
  border: 1px solid #c9d3f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin-top: 6px;
  padding: 10px 15px;
}

.form-item__input:focus {
  outline: 1px solid #424b6d;
}

.form-item__textarea {
  background: #ffffff;
  border: 1px solid #c9d3f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin-top: 6px;
  padding: 10px 15px;
  resize: none;
  min-height: 148px;
}

.form-item__textarea:focus {
  outline: 1px solid #424b6d;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #0DAA41;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .anim-info-2-1 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 0;
  }

  .anim-info-2-1._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .anim-info-2-2 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .anim-info-2-2._watcher-view {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .anim-info-3-1 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 0;
  }

  .anim-info-3-1._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .anim-info-3-2 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .anim-info-3-2._watcher-view {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .anim-info-4-1 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: translate(50%, 0px);
        -ms-transform: translate(50%, 0px);
            transform: translate(50%, 0px);
    opacity: 0;
  }

  .anim-info-4-1._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .anim-info-4-2 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .anim-info-4-2._watcher-view {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .table__item {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .table__item._watcher-view {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }

  .anim-info-7-1 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 0;
  }

  .anim-info-7-1._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .anim-info-7-2 {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .anim-info-7-2._watcher-view {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 61.99875em) {
  .btn:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #830822;
  }

  .menu__link:hover {
    color: #bf0830;
  }

  .hero__img {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }

  .hero__img._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
}

@media (max-width: 1400px) {
  .hero.hero_products .hero__img {
    padding-right: 10px;
  }

  .hero.hero_about .hero__img {
    padding-right: 80px;
  }

  .hero.hero_contact .hero__img {
    padding-right: 10px;
  }
}

@media (max-width: 1279px) {
  .hero.hero_career {
    padding: 150px 0 200px 0;
  }
}

@media (max-width: 1274px) {
  .hero.hero_products {
    padding: 200px 0 100px 0;
  }

  .hero.hero_about {
    padding: 240px 0 100px 0;
  }

  .hero.hero_about .hero__item {
    max-width: none;
  }

  .hero.hero_about .hero__img {
    padding-right: 0;
  }

  .hero.hero_contact {
    padding: 100px 0 100px 0;
  }
}

@media (max-width: 75em) {
  .photos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  .photos__item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1158px) {
  .offer__table {
    gap: 30px;
  }

  .table {
    margin-top: 50px;
  }

  .table__item {
    padding: 30px;
  }
}

@media (max-width: 1143px) {
  .info-4__container {
    gap: 70px;
  }

  .info-6__container {
    gap: 70px;
  }

  .info-7__container {
    gap: 70px;
  }
}

@media (max-width: 1137px) {
  .hero.hero_products {
    padding: 130px 0 100px 0;
  }

  .hero.hero_about {
    padding: 240px 0 100px 0;
  }

  .hero.hero_contact {
    padding: 100px 0 100px 0;
  }
}

@media (max-width: 1114px) {
  .hero {
    padding: 100px 0 100px 0;
  }

  .hero__img {
    max-width: 600px;
  }
}

@media (max-width: 1002px) {
  .hero {
    padding: 50px 0 275px 0;
  }

  .hero__img {
    max-width: 400px;
  }

  .hero__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .hero__item {
    text-align: center;
  }

  .hero__title {
    font-size: 38px;
    line-height: 48px;
  }

  .hero.hero_products {
    padding: 50px 0 275px 0;
  }

  .hero.hero_about {
    padding: 50px 0 340px 0;
  }

  .hero.hero_career {
    padding: 50px 0 250px 0;
  }

  .hero.hero_contact {
    padding: 50px 0 250px 0;
  }
}

@media (max-width: 620px) {
  .item-recommend-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 0;
    margin-bottom: 30px;
  }

  .jobs {
    padding: 30px 0 0 0;
  }

  .item-jobs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-jobs__btn {
    margin: 40px 0 20px 0;
  }

  .info-item-jobs__title {
    text-align: center;
  }

  .info-item-jobs__subinfo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 529px) {
  .question__btns {
    display: block;
  }

  .question__btn:last-child {
    margin-top: 10px;
  }
}

@media (max-width: 528px) {
  .empty__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
}

@media (max-width: 72.375em) {
  .culture__table {
    gap: 30px;
  }

  .table {
    margin-top: 50px;
  }

  .table__item {
    padding: 30px;
  }
}

@media (max-width: 71.125em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 71.4375em) {
  .info-5__container {
    gap: 70px;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .main-title {
    font-size: 40px;
  }

  .menu__item {
    margin-left: 30px;
  }

  .brands {
    padding: 80px 0 100px 0;
  }

  .brands__title {
    font-size: 32px;
  }

  .brands__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }

  .brands__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .products {
    padding: 80px 0;
  }

  .products__item {
    margin-top: 50px;
  }

  .item-products__content {
    padding: 50px 50px 0px 50px;
  }

  .item-products__logo {
    max-width: 150px;
  }

  .item-products__text {
    margin-top: 30px;
    font-size: 22px;
  }

  .info-1__item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .slider-innov__slider {
    margin-top: 40px;
  }

  .info-2__item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .info-3__item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .info-3__title img {
    max-width: 60%;
  }

  .info-4__item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .info-4__title img {
    width: 250px;
  }

  .stats__item {
    padding-top: 35px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }

  .item-stats__title {
    font-size: 48px;
    line-height: 52px;
  }

  .item-stats__text {
    margin-bottom: 14px;
  }

  .table__item {
    padding: 20px;
  }

  .table__title {
    font-style: 24px;
  }

  .info-5__container {
    gap: 20px;
  }

  .info-5__title img {
    width: 250px;
  }

  .info-6 {
    padding: 100px 0px 70px 0px;
  }

  .info-6__container {
    gap: 20px;
  }

  .info-6__item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .info-7__item img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .info-7__title img {
    width: 250px;
  }

  .table__item {
    padding: 20px;
  }

  .table__title {
    font-style: 24px;
  }

  .recommend__title {
    font-size: 30px;
  }

  .item-recommend-first {
    padding-left: 30px;
  }

  .item-recommend-second {
    padding-right: 30px;
  }

  .info-item-jobs__title {
    font-size: 20px;
  }

  .info-item-jobs__text {
    font-size: 14px;
  }

  .contacts__container {
    gap: 50px;
  }

  .contacts__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  .contacts__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .contacts__places {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }

  .main-title {
    font-size: 35px;
  }

  html.menu-open .icon-menu span,
  html.menu-open .icon-menu::before,
  html.menu-open .icon-menu::after {
    background-color: white;
  }

  .header__img {
    opacity: 0;
    visibility: hidden;
    display: inline-block;
  }

  .menu__body {
    background-color: #0D123C;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    position: fixed;
    overflow: auto;
    left: -120%;
    padding: 130px 0px 0px 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .menu__body::after {
    content: "";
    position: absolute;
    background-color: #0D123C;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }

  .menu__list {
    margin-top: 30px;
    display: inline-block;
  }

  .menu__list li {
    margin-bottom: 30px;
  }

  .menu__list li:last-child {
    margin: 0;
  }

  .menu__item {
    margin: 0;
  }

  .menu__link {
    color: #fff;
    font-size: 22px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: black;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer {
    padding-top: 35px;
  }

  .footer__container:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__item:last-child {
    margin-bottom: 30px;
  }

  .footer__item_right {
    max-width: 100%;
    margin-top: 25px;
  }

  .footer__text {
    max-width: 100%;
  }

  .footer__copy-item:last-child {
    margin-top: 10px;
  }

  .hero__img {
    max-width: 320px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }

  .hero__title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 25px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 24px;
  }

  .brands {
    padding: 60px 0 80px 0;
  }

  .brands {
    padding: 40px 0 60px 0;
  }

  .brands__title {
    font-size: 26px;
  }

  .brands__item {
    margin-top: 0;
  }

  .products {
    padding: 30px 0;
  }

  .products__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }

  .products__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .item-products__content {
    padding: 30px 30px 0px 30px;
  }

  .item-products__text {
    font-size: 18px;
    margin-top: 20px;
  }

  .item-products__btn {
    margin-top: 25px;
    padding: 12px 18px;
  }

  .info-1__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-1__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .info-1__item img {
    max-width: 450px;
    margin-top: 35px;
  }

  .info-1__text {
    text-align: center;
    margin: 16px auto 0 auto;
  }

  .slider-innov {
    padding: 70px 0px 30px 0px;
  }

  .slider-innov__slider {
    margin-top: 0;
  }

  .slider-innov__arrows {
    display: none;
  }

  .info-2__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-2__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .info-2__item img {
    max-width: 450px;
    margin-top: 35px;
  }

  .info-2__text {
    text-align: center;
    margin: 16px auto 30px auto;
  }

  .info-3 {
    padding: 50px 0;
  }

  .info-3__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-3__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .info-3__item img {
    max-width: 450px;
    margin-top: 35px;
  }

  .info-3__title img {
    width: 200px;
  }

  .info-3__text {
    text-align: center;
    margin: 16px auto 30px auto;
  }

  .info-4 {
    padding: 30px 0;
  }

  .info-4__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-4__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .info-4__item img {
    max-width: 450px;
    margin-top: 0;
  }

  .info-4__text {
    text-align: center;
    margin: 0 auto 30px auto;
  }

  .question {
    padding: 70px 0;
  }

  .stats__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-stats__title {
    font-size: 34px;
  }

  .item-stats__text {
    font-size: 18px;
  }

  .culture {
    padding: 65px 0px 90px 0px;
  }

  .culture {
    padding: 65px 0px 30px 0px;
  }

  .culture__table {
    gap: 20px;
  }

  .table__title {
    margin-bottom: 15px;
  }

  .info-5 {
    padding: 30px 0;
    margin-top: 20px;
  }

  .info-5__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-5__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .info-5__item img {
    max-width: 450px;
    margin-top: 0;
  }

  .info-5__text {
    text-align: center;
    margin: 0 auto 30px auto;
  }

  .info-6 {
    padding: 50px 0px 30px 0px;
  }

  .info-6__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-6__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .info-6__item img {
    max-width: 450px;
    margin-top: 20px;
  }

  .info-6__text {
    text-align: center;
    margin: 16px auto 0 auto;
  }

  .info-7 {
    padding: 30px 0;
  }

  .info-7__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-7__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }

  .info-7__item img {
    max-width: 450px;
    margin-top: 0;
  }

  .info-7__text {
    text-align: center;
    margin: 0 auto 30px auto;
  }

  .info-7__btn {
    margin-bottom: 35px;
  }

  .offer {
    padding: 65px 0px 90px 0px;
  }

  .offer {
    padding: 65px 0px 30px 0px;
  }

  .offer__table {
    gap: 20px;
  }

  .table__title {
    margin-bottom: 15px;
  }

  .photos__container {
    padding: 58px 20px;
    row-gap: 20px;
  }

  .photos__item:nth-child(4) {
    margin-bottom: 0;
  }

  .photos__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }

    .photos__item:nth-child(even) picture {
    margin-left: auto;
  }

  .photos__item picture {
    max-width: 75%;
  }

  .photos__names {
    max-width: 100%;
    text-align: center;
  }

  .photos__title {
    max-width: 100%;
    text-align: center;
  }

  .recommend {
    padding: 30px 0 60px 0;
  }

  .recommend__container{
    padding: 20px 0 30px 0;
  }

  .recommend__img picture {
    max-width: 80px;
  }

  .recommend__title {
    font-size: 24px;
  }

  .photos__item:nth-child(5) {
    position: relative;
    top: 0;
  }

  .recommend__link {
    font-size: 16px;
  }

  .rating__value {
    font-size: 24px;
  }

  .rating__items img {
    width: 18px;
  }

  .jobs {
    padding: 30px 0;
  }

  .jobs__blocks {
    margin-top: 40px;
  }

  .jobs__item {
    margin-top: 15px;
  }

  .item-jobs {
    padding: 20px 20px;
  }

  .empty {
    margin: 40px 0 0 0;
  }

  .contacts {
    padding: 70px 0px 90px 0px;
  }

  .contacts__container {
    gap: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .contacts__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .contacts__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-item__form {
    padding: 20px;
  }

  .form-item__label-input {
    margin-bottom: 15px;
  }

  .form-item__textarea {
    min-height: 75px;
  }
}

@media (max-width: 38.75em) {
  .recommend__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .recommend__img {
    margin-bottom: 10px;
  }

  .recommend__title {
    margin-left: 0;
  }
  
  .item-recommend-first {
  padding-left: 0;
  display: flex;
    ms-flex-direction: column;
  flex-direction: column;
    justify-content: center;
   align-items: center;
  text-align: center;
      
}

  .item-recommend-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-right: 0;
  }
}

 

@media (max-width: 29.99875em) {
  .list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .list-item:last-child {
    margin-top: 35px;
  }

  .hero {
    padding: 35px 0 275px 0;
  }

  .hero__buttons {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__btn-2 {
    margin-left: 0;
    margin-top: 10px;
  }

  .hero.hero_products {
    padding: 35px 0 275px 0;
  }

  .hero.hero_about {
    padding: 35px 0 340px 0;
  }

  .hero.hero_career {
    padding: 35px 0 250px 0;
  }

  .hero.hero_contact {
    padding: 35px 0 250px 0;
  }

  .brands__title {
    font-size: 24px;
  }

  .stats__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .table__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .info-7__btn {
    margin-bottom: 0;
  }

  .info-7__btn svg {
    display: none;
  }

  .table__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .photos__item {
    margin-top: 5px;
  }
}

@media (max-width: 21.25em) {
  .header__img {
    display: none;
  }
}
